.container {
	--bg-dark: #264143;
	--primary-color: #de5499;
	--light-color: #fff;

	background-color: var(--bg-dark);
	color: var(--light-color);
}

.main {
	min-height: 100vh;
	width: 100vw;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content {
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
}

.form {
	min-width: 40%;
	max-width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.75rem;
	font-size: 1.125rem;
}

.custom_input {
	border: none;
	flex-grow: 1;
	border-radius: 10px;
	border: 1px solid var(--light-color);
	background-color: var(--bg-dark);
	color: var(--light-color);
	padding: 0.5rem;
	margin: 0 0.5rem;
	font-size: 1.25rem;
	transition: all 0.3s ease-in-out;
}

.icon {
	font-size: 1.5rem;
	cursor: pointer;
}

.icon:hover {
	color: var(--primary-color);
}

.button_submit {
	background-color: var(--primary-color);
	color: var(--light-color);
	border: none;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.button_submit:hover,
.button_submit:focus,
.button_submit:active {
	transform: scale(1.05);
	background-color: var(--light-color);
	color: var(--primary-color);
}

.button_submit:disabled {
	background-color: gray;
	color: darkgray;
	cursor: not-allowed;
}

.header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--primary-color);
	padding: 1rem 2rem;
}

.header_title {
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--light-color);
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.header_logo {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 1rem;
	height: 1rem;
	object-fit: contain;
}

.footer {
	display: flex;
	width: 80%;
	padding: 2rem 0;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
}

.text_link {
	color: var(--light-color);
}

.text_link:hover {
	color: var(--primary-color);
}
